<!DOCTYPE html>
<html>
 <body>
  <div>
    <h1><%= @username_1.name %> v <%= @username_2.name %></h1>
  </div>
  
  <div>
    <%= @username_1.name %>: <%=@username_1.hp%>HP 
  </div>
  <div>
    <%= @username_2.name %>: <%=@username_2.hp%>HP 
  </div>

  <div id='actions'>
    <form action="/attack">
      <input type="submit" value="Attack">
    </form>
  </div>
 </body>
</html>
